@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .navigation-list {
    display: flex;
    gap: 40px;
  }

  .address {
    display: flex;
    font-style: normal;
    padding: 8px 0;
  }

  .address-list {
    flex-direction: column;
    row-gap: 8px;
  }

  .menu-container {
    padding: 0 0;
  }

  .mobile-menu-btn {
    display: none;
  }

  .header-main {
    padding: 0 15px;
  }
  /*-------Header-BG-------*/

  .header-bg {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/dark-bg-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: 0 auto;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .header-bg {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/dark-bg-tablet@2x.jpg");
    }
  }

  .header {
    font-size: 56px;
    color: var(--white-color);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    max-width: 496px;
  }

  /*-------Advantages-------*/
  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .advantage-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .head {
    text-align: left;
  }
  /*-------Team-------*/
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  /*-------Customers-------*/
  .customers-list {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
  }

  .customers-item {
    width: 168px;
    height: 88px;
  }

  .container-customers {
    max-width: 582px;
  }

  /*-------Footer-------*/
  .container-footer {
    display: flex;
    flex-wrap: wrap;
    max-width: 582px;
  }

  .container-footer-first {
    margin-right: 24px;
    align-items: flex-start;
  }

  .container-social-footer {
    align-items: start;
  }

  .subscribe-container {
    align-items: flex-start;
  }

  .form-subscribe-container {
    flex-direction: row;
    align-items: baseline;
  }

  .input-subscribe {
    min-width: 264px;
    margin-right: 24px;
  }
}
