@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .navigation-list {
    display: flex;
    gap: 40px;
  }

  .address {
    display: flex;
    font-style: normal;
    padding: 8px 0;
  }

  .address-list {
    flex-direction: column;
    row-gap: 8px;
  }

  /*-------Header-BG-------*/

  /*-------Advantages-------*/
  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .adv-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .head {
    text-align: left;
  }
  /*-------Team-------*/
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  /*-------Customers-------*/
  .customers-list {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
  }

  /*-------Footer-------*/
  .container-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .container-footer-first {
    margin-right: 24px;
    align-items: flex-start;
  }

  .container-social-footer {
    align-items: start;
  }

  .subscribe-container {
    align-items: flex-start;
  }

  .form-subscribe-container {
    flex-direction: row;
    align-items: baseline;
  }

  .input-subscribe {
    min-width: 264px;
    margin-right: 24px;
  }
}
